<h1> Computer for you</h1>

<h3>Costruisci il tuo computer dei sogni</h3>

<table>
    <thead>
       <p>i nostri componenti</p>
        
    </thead>
    <tbody>

        <td><p>CPU</p>
            <tr>{{components[0].model}} <p class="price"> {{components[0].price}}€</p> <button (click)="addComponent(components[0])">+</button></tr>
            <tr>{{components[1].model}} <p class="price"> {{components[1].price}}€</p> <button (click)="addComponent(components[1])">+</button></tr>
            <tr>{{components[2].model}} <p class="price"> {{components[2].price}}€</p> <button (click)="addComponent(components[2])">+</button></tr>
            <tr>{{components[3].model}} <p class="price"> {{components[3].price}}€</p> <button (click)="addComponent(components[3])">+</button></tr>
        </td>
        <td><P>RAM</P>
            <tr>{{components[8].model}} <p class="price"> {{components[8].price}}€</p> <button (click)="addComponent(components[8])">+</button></tr>
            <tr>{{components[9].model}} <p class="price"> {{components[9].price}}€</p> <button (click)="addComponent(components[9])">+</button></tr>
            <tr>{{components[10].model}} <p class="price"> {{components[10].price}}€</p> <button (click)="addComponent(components[10])">+</button></tr>
            <tr>{{components[11].model}} <p class="price"> {{components[11].price}}€</p> <button (click)="addComponent(components[12])">+</button></tr>
           
        </td>
        <td><P>HDD</P>
             <tr>{{components[16].model}} <p class="price"> {{components[16].price}}€</p> <button (click)="addComponent(components[16])">+</button></tr>
            <tr>{{components[17].model}} <p class="price"> {{components[17].price}}€</p> <button (click)="addComponent(components[17])">+</button></tr>
            <tr>{{components[18].model}} <p class="price"> {{components[18].price}}€</p> <button (click)="addComponent(components[18])">+</button></tr>
            <tr>{{components[19].model}} <p class="price"> {{components[19].price}}€</p> <button (click)="addComponent(components[19])">+</button></tr>
           
            
        </td>
        <td><P>SSD</P>
             <tr>{{components[12].model}} <p class="price"> {{components[12].price}}€</p> <button (click)="addComponent(components[12])">+</button></tr>
            <tr>{{components[13].model}} <p class="price"> {{components[13].price}}€</p> <button (click)="addComponent(components[13])">+</button></tr>
            <tr>{{components[14].model}} <p class="price"> {{components[14].price}}€</p> <button (click)="addComponent(components[14])">+</button></tr>
            <tr>{{components[15].model}} <p class="price"> {{components[15].price}}€</p> <button (click)="addComponent(components[15])">+</button></tr>
            
        </td>
        <td><P>GPU</P>
            <tr>{{components[4].model}} <p class="price"> {{components[4].price}}€</p> <button (click)="addComponent(components[4])">+</button></tr>
            <tr>{{components[5].model}} <p class="price"> {{components[5].price}}€</p> <button (click)="addComponent(components[5])">+</button></tr>
            <tr>{{components[6].model}} <p class="price"> {{components[6].price}}€</p> <button (click)="addComponent(components[6])">+</button></tr>
            <tr>{{components[7].model}} <p class="price"> {{components[7].price}}€</p> <button (click)="addComponent(components[7])">+</button></tr>
           
            
        </td>
        <td><P>Alimentatore</P>
             <tr>{{components[20].model}} <p class="price"> {{components[20].price}}€</p> <button (click)="addComponent(components[20])">+</button></tr>
            <tr>{{components[21].model}} <p class="price"> {{components[21].price}}€</p> <button (click)="addComponent(components[21])">+</button></tr>
            <tr>{{components[22].model}} <p class="price"> {{components[22].price}}€</p> <button (click)="addComponent(components[22])">+</button></tr>
            <tr>{{components[23].model}} <p class="price"> {{components[23].price}}€</p> <button (click)="addComponent(components[23])">+</button></tr>
          
        </td>
        <td><P>Case</P>
             <tr>{{components[24].model}} <p class="price"> {{components[24].price}}€</p> <button (click)="addComponent(components[24])">+</button></tr>
            <tr>{{components[25].model}} <p class="price"> {{components[25].price}}€</p> <button (click)="addComponent(components[25])">+</button></tr>
            <tr>{{components[26].model}} <p class="price"> {{components[26].price}}€</p> <button (click)="addComponent(components[26])">+</button></tr>
            <tr>{{components[27].model}} <p class="price"> {{components[27].price}}€</p> <button (click)="addComponent(components[27])"> +</button></tr>
        </td>
        <td><P>Scheda Madre</P>
             <tr>{{components[28].model}} <p class="price"> {{components[28].price}}€</p> <button (click)="addComponent(components[28])">+</button></tr>
            <tr>{{components[29].model}} <p class="price"> {{components[29].price}}€</p> <button (click)="addComponent(components[29])">+</button></tr>
            <tr>{{components[30].model}} <p class="price"> {{components[30].price}}€</p> <button (click)="addComponent(components[30])">+</button></tr>
            <tr>{{components[31].model}} <p class="price"> {{components[31].price}}€</p> <button (click)="addComponent(components[31])">+</button></tr>
        </td>

    </tbody>
</table>






