<h3>Il tuo computer</h3>
<div class="computer-container">
  <div class="componente-container">
    <div class="container">
      @for(type of types; let i= $index; track i){
      <p class="category">{{ type }}:</p>
      @for(component of components; track component.id)
      { @if(component.type === type){

      <div class="componente-mio">
        {{ component.type }}<P> {{ component.model }}</P
        ><button (click)="removeComponent(component.id)">Rumuovi</button>
      </div>
      } } }
    </div>

    <button id="svuota" (click)="resetComponents()">Svuota</button>

    <h4>Riepilogo del tuo ordine:</h4>
    <div>
      @for (type of types; track $index) {
      @for(component of componentiScelti;track component.id) {
      @if(component.type === type){
      <p>{{type}}:{{ component.model }}</p>
     
      } } }
      <P id="totale">Totale: {{ totale }}€</P>
    </div>

    <button class="checkout">Checkout</button>
  </div>
</div>
